.details-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  
  h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
  }

  .loading {
    text-align: center;
    font-size: 1.2rem;
    color: #007bff; /* Bleu moderne */
    font-weight: bold;
  }

  .detail-item {
    margin-bottom: 20px;

    label {
      display: block;
      font-weight: bold;
      font-size: 1.1rem;
      color: #333;
    }

    p {
      font-size: 1rem;
      margin: 5px 0;
      color: #555;
    }

    .photo-preview {
      margin-top: 10px;
      max-width: 200px;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff; /* Bleu moderne */
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover {
      background-color: #005BB5; /* Couleur plus foncée au survol */
    }
  }

  .delete-btn {
    background-color: #dc3545; /* Rouge pour le bouton de suppression */
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c82333; /* Effet hover pour le bouton supprimer */
    }
  }
}
