.footer {
    background-color: #007AFF; /* Bleu moderne */
    color: white;
    padding: 20px 0;
    text-align: center;
  
    .footer-text {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
    .footer-links a {
      margin: 0 10px;
      padding: 10px 20px;
      text-decoration: none;
      color: white;
      border-radius: 4px;
      background-color: #007AFF;
      font-weight: 600;
      text-transform: uppercase;
    }
  
    .footer-links a:hover {
      background-color: #005BB5;
    }
  }
  